.about-container {
  display: flex;
}

.about-div {
  width: 100%;
  margin-top: 218px;
}

.turtle-portrait {
  margin-top: 20px;
}

.about-me-text {
  width: 800px;
  font-size: 30px;
  margin-right: 92px;
}
