.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    font-size: 26px;
}

.nav-link {
    margin: 0 20px;
    text-decoration: none;
}

.icon-link {
    fill: #edf0f1;
}

