.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
}

.logo {
  margin-left: 22px;  
}

.icon-link {
    fill: #edf0f1;
}

