.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    font-size: 26px;
    border-bottom: 1px solid #edf0f1;
}

.nav-link {
    margin: 0 20px;
    text-decoration: none;
}

.github {
    font-size: 40px;
}

